* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.brand {
    font-size: 4vw;
}
.nav-list {
    font-size: 2vw;
    margin-right: 2vw;
    color: black;
}
/* jumbotron */
.jumbotron {
    height: 75vh;
}
.container {
    display: flex;
    width: 92vw;
    margin: 0 auto;
}
.column {
    flex: 1;
    padding: 1em;
}
.column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sub-1 {
    font-weight: 600;
    font-size: calc(2vw + .5em);
}
.sub-2 {
    font-size: 3vw;
    margin: 10px 0;
    line-height: 1em;
}
.sub-3 {
    font-weight: 400;
    font-size: 2vw;
}
.btn {
    text-decoration: none;
    padding: .7em 2em;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.6vw;
    color: black;
}
.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron-img {
    width: calc(20vw + 15em);
}